.MentorTable {
  &-groupColumn {
    border: var(--border);
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    &-titleBox {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 20px;
      &-Typography {
        flex: 1;
      }
      &-link {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 10px;
        border: var(--border);
        text-decoration: none;
        color: black;
        padding: 5px 10px;
      }
      &_selectWrap {
        &-year {
          color: black;
        }
        &-month {
          color: black;
        }
      }
    }
  }
  &-sallaryColumn {
    border: var(--border);
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    &-titleBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      &-link {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 10px;
        border: var(--border);
        text-decoration: none;
        color: black;
        padding: 5px 10px;
      }
    }
  }
}
