:root {
  /* brand colors */
  --brand: #666CFF;

  /* border color */
  --border: 1px solid #e0e0e0e0;
  --black:#09090B;
}

html,
body {
  min-height: 100%;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

#__next {
  height: 100%;
}



code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}
.salary-table__input {
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #fcfcfc;
  border: 1px solid #f2f2f2;
  outline: none;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 999;
}
.salary-table__input:focus {
  border: 1px solid #cccccc;
}
/* Total scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* width of the scrollbar */
  height: 10px;
  /* height of the scrollbar (for horizontal bars) */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.hide-scrollbar {
  overflow: auto; /* Allows scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari) */
}

/* Define the width of the scrollbar */
/* body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
} */

#full-page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9998;
  display: none;
}

.page-resize .MuiInputBase-inputSizeSmall {
  padding: 0 10px;
  width: 35px !important;
}

.login-card {
  max-width: clamp(21.875rem, 37.092vw + 13.761rem, 37.5rem);
  width: 100%;
  height: auto;
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px;
  border-radius: 10px;
  padding: clamp(1.25rem, 4.144vw + 0.473rem, 3.125rem) clamp(1.25rem, 2.762vw + 0.732rem, 2.5rem);
}

.kanban {
  &__section {
    width: 100%;
    background-color: #383838;
    padding: 10px;
    border-radius: 10px;

    & ~ & {
      margin-left: 10px;
    }

    &__title {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 700;
      margin: 10px 0 20px;
    }

    &__content {
      & > * ~ * {
        margin-top: 10px;
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	--ckeditor5-preview-sidebar-width: 270px;
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.main-container .presence {
	margin-bottom: 8px;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container__editor-wrapper {
	display: flex;
	width: fit-content;
}

.editor-container_include-outline .editor-container__editor .ck.ck-editor__editable {
	margin-left: 0;
}

.editor-container_include-annotations .editor-container__editor .ck.ck-editor__editable {
	margin-right: 0;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.editor-container__sidebar {
	min-width: var(--ckeditor5-preview-sidebar-width);
	max-width: var(--ckeditor5-preview-sidebar-width);
	margin-top: 28px;
	margin-left: 10px;
	margin-right: 10px;
}

.revision-history {
	display: none;
}

.revision-history__wrapper {
	display: flex;
}

.revision-history__wrapper .ck.ck-editor {
	margin: 0;
	width: 795px;
}

.revision-history__wrapper .revision-history__sidebar {
	border: 1px solid var(--ck-color-base-border);
	border-left: 0;
	width: var(--ckeditor5-preview-sidebar-width);
	min-height: 100%;
}

.revision-history__wrapper .revision-history__sidebar .ck-revision-history-sidebar {
	height: 100%;
}

.custom-toast:hover .toast-hover-actions {
  opacity: 1;
  visibility: visible;
}

